body {
    
}

#product-categories > div {
    height: 300px;
}

#jeans {
    background: url("/Pictures/dua-90s-black-jeans.jpg");
    background-size: cover;
}

#tops {
    background: url("/Pictures/dua-cutout-top.jpg");
    background-size: cover;
}

#dresses {
    background: url("/Pictures/jean-dress.jpg");
    background-size: cover;
}

#accessories {
    background: url("/Pictures/jumpsuit-jewelry.jpg");
    background-size: cover;
}

.shop-btn {
  /* border: 1px outset black; */
}

#product-categories > div {
    /* position: relative; */
}

.shop-category-btn {
    /* position: absolute; */
    /* Used margin-top to pin buttons to bottom of div instead of position: absolute because changing the position attribute decentered the buttons. */
    margin-top: 250px;
    border: 1px solid #2e3338;
}

#footer {
    background: #343a40;
    color: white;
    padding: 30px 0;
    border-top: 5px solid #2e3338;
}

#footer a {
    color: lightgray;
}

#footer a:hover {
    color: white;
}

#signupModal {
    /* TODO: colors */
}

/* Vertically centers the modal by adding padding to the transparent fade area around the dialog box. */
.modal-dialog {
    padding-top: 20%;
}

.modal-content {
    /* background: url("/Pictures/denim-jacket-color.jpg");
    background-size: cover; */
}

.modal-header {
    padding-bottom: 5%;
    /* font-size: 20px; */
}

.modal-body {
    /* padding-top: 10%; */
    /* padding-bottom: 10%; */
    /* font-size: 1.5rem; */
}